<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BINTANG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

    <div class="container">
        <div class="left">
            <img src="{{ url_for('static', filename='img/bintang.jpg') }}" alt="Bintang">
            <h1>&lt;Ahmad Sri Bintang&gt;</h1>
            <p>Magelang, Indonesia</p>
            <div class="contact-btn">
        </div>
        <div class="right">
            <h2>&lt;/About Me&gt;</h2>
            <p>
                Halo, nama saya Ahmad Sri Bintang. Saat ini, saya adalah mahasiswa S1 Teknik Komputer yang memiliki minat besar dalam dunia teknologi dan inovasi. Saya juga suka menonton pertandingan sepak bola.
            </p>
        </div>
    </div>

</body>
</html>
