<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAYI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

    <div class="container">
        <div class="left">
            <img src="{{ url_for('static', filename='img/fayi.jpg') }}" alt="Fayi">
            <h1>&lt;Fayi Subhi Taufiqurrahman&gt;</h1>
            <p>Yogyakarta, Indonesia</p>
            <div class="contact-btn">
        </div>
        <div class="right">
            <h2>&lt;/About Me&gt;</h2>
            <p>
                Halo, nama saya Fayi Subhi T. Saya adalah mahasiswa S1 Teknik Komputer yang sangat antusias dalam menjelajahi dunia teknologi. Salah satu hobi saya adalah mengerjakan tugas.
            </p>
        </div>
    </div>

</body>
</html>
