<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQBAL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

    <div class="container">
        <div class="left">
            <img src="{{ url_for('static', filename='img/iqbal.jpg') }}" alt="Iqbal">
            <h1>&lt;Muhamad Iqbal Ashari&gt;</h1>
            <p>Purworejo, Indonesia</p>
            <div class="contact-btn">
        </div>
        <div class="right">
            <h2>&lt;/About Me&gt;</h2>
            <p>
                Halo, nama saya Muhamad Iqbal Ashari. Saya adalah mahasiswa S1 Teknik Komputer yang memiliki ketertarikan besar dalam dunia teknologi. Selain belajar, salah satu hobi saya adalah memasak. Saya menikmati bereksperimen dengan berbagai resep dan menciptakan hidangan yang lezat.
            </p>    
        </div>
    </div>

</body>
</html>
