<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>

    <div class="container">
        <div class="left">
            <img src="{{ url_for('static', filename='img/rian.jpg') }}" alt="Rian">
            <h1>&lt;Rizqy Muhammad Raihan&gt;</h1>
            <p>Pekalongan, Indonesia</p>
            <div class="contact-btn">
        </div>
        <div class="right">
            <h2>&lt;/About Me&gt;</h2>
            <p>
                Halo, nama saya Rizqy Muhammad Raihan. Saya merupakan mahasiswa S1 Teknik Komputer yang memiliki ketertarikan mendalam di bidang teknologi dan pemrograman. Selain itu, saya juga memiliki hobi menonton anime Naruto. 
            </p>
        </div>
    </div>

</body>
</html>
